.jumbotron {
    border-radius: 0;
    background-image: url(https://via.placeholder.com/1500);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}

