.jumbotron {
    border-radius: 0;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
}

.home-jumbotron {
    background-image: url(https://via.placeholder.com/1500);
}

.menu-jumbotron {
    background-image: url(https://via.placeholder.com/1500/e6f3ff);
}

.navbar-nav .nav-item a:hover, .navbar-nav .nav-item a:active  {
    color: #fff;
}

.page-nav {
    margin-top: 4rem;
    margin-bottom: 0;
}

.page-nav-item {
    margin-right: 3rem;
    margin-left: 3rem;
}

.menu-item {
    margin-bottom: 2rem;
}

.menu-item .menu-item-header sup {
    font-size: 50%;
    top: -.75em;
}

.menu-item .price {
    font-size: 1.25rem;
    font-weight: 500;
}

footer {
    font-size: .85rem;
}

footer .copyright{
    font-size: .7rem;
}

footer ul {
    list-style-type: none;
    padding: 0;
}
